<div class="row">
  <div class="col-md-9 block-center row">
    <% @product_details.each do |product| %>
      <div class="col-md-4 mb-3">
        <div class="card box-shadow">
          <%=  link_to web_product_path(product.id) do %>
            <%= image_tag product.product_images.first&.url_img&.url, style: 'max-height:250px;', class: 'card-img-top' if product.product_images.present?%>
          <% end %>
          <div class="card-body">
            <h5><%= product.name %></h5>
            <div class="card-text text-truncate">
              <%= product.description.html_safe %>
            </div>
            <div class="d-flex">
              <div class="mr-auto align-self-center d-flex">
                <h5><%= product.price %></h5>VND
              </div>
              <%= button_to web_line_items_path(:product_id => product.id),class: "btn btn-success" do %>
                <i class="fas fa-shopping-basket"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-3 order-md-2 mb-4">
     <%= render 'web/shared/menuLeftWeb'%>
  </div>
</div>
