
<div class="row">
  <div class="col-md-12">
    <%= image_tag @product_detail.product_images.first&.url_img&.url, class: 'card-img-top' if @product_detail.product_images.present?%>
    <h1 class="d-none d-lg-block mb-3"><%= @product_detail.name %></h1>
    <div class="theme-description">
      <h3>Price: <%= @product_detail.price %>&nbsp;VNĐ</h3>
      <blockquote class="blockquote-custom">
        <%= @product_detail.description.html_safe %>
      </blockquote>
      <%= @product_detail.details.html_safe%>
    </div>
    <div class="block-center">
      <%= button_to web_line_items_path(:product_id => @product_detail.id),class: "btn btn-success btn-block text-cart" do %>
        Add to cart&nbsp;<i class="fas fa-shopping-basket"></i>
      <% end %>
    </div>
  </div>
</div>
