<% provide(:title, "Forgot passs") %>
<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>Web </b>Forgot your password?</a>
  </div>

  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class="form-group field">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
          <%= show_error(resource, :email) %>
        </div>
        <div class="actions">
          <%= f.submit "Log in", class: 'btn btn-primary btn-block' %>
        </div>
      <% end %>
      <p class="text-left mt-3">
        <%= render "users/shared/links" %>
      </p>
    </div>
  </div>
  <!-- /.login-card-body -->

</div>
